ul.menu {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: blue;
  margin-top: 30px;
  position: fixed;
  width: 97.31%;
  border: gray solid 2px;
  border-radius: 5px;
}
li a.menu {
  color: white;
  padding: 15px 160px;
  float: left;
  display: block;
  text-decoration: none;
}
.activemenu {
  background-color: #EB2C1F;
}
li a.menu:hover {
  background-color: #32C8FF;
}
