body {
  background-color: #005708;
}


ul.menu {
  width: 1400px;
  margin-left: 85px;
  padding: 0;
  margin-top: 30px;
  overflow: hidden;
  list-style-type: none;
  position: absolute;
  border-radius: 5px;
  border: black solid 2px;
  background-color: #131461;
}
li a.menu {
  color: #FFEDE1;
  padding: 15px 204px;
  float: left;
  display: block;
  text-decoration: none;
  border-left: 2px solid black;
}
.activemenu {
  background-color: #EC2C1F;
}
li a.menu:hover {
  background-color: #1587A2;
  color: black;
}
.logo {
  width: 75px;
  height: 75px;
  float: left;
  margin-top: 20px;
  margin-left: 5px;
}
