body {
  background-color: #888888;
}
p {
  border-radius: 5px;
  border: #AAAAAA solid 2px;
  background-color: #AAAAAA;
}
#menu li {
  display: inline;
  float: left;
}
#menu {
  margin-left: 7.5%;
  margin-top: 25px;
  width: max-content;
  border-radius: 5px;
  border: black solid 2px;
  overflow: hidden;
  padding: 0px;
  background-color: #DA6D88;
}
#menu a {
  color: #FFEDE1;
  text-decoration: none;
  border-left: 2px solid black;
  display: block;
  padding: 15px 180px;
}
#activemenu {
  background-color: #7BC7C3;
}
#menu li a:hover {
  background-color: #DDA1A9;
  color: black;
}
#activemenu {
  background-color: #7BC7C3;
}
.logo {
  width: 75px;
  height: 75px;
  float: left;
  margin-left: 10px;
}
